@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    min-height: 100vh;
    font-size: 62.5%;       /*1rem = 10px*/
    
   

    
}

body {
    min-height: 100vh;
    box-sizing: border-box;
}


@media only screen and (max-width: 450px) {

  html {
    font-size: 50.5%;       /*1rem = 10px*/

  }
      
}